.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.up-btn-wrapper {
    position: fixed;
    bottom: 39px;
    right: 10px;
  
    z-index: 10;
  
    bottom: 120px;
    right: 30px;

    color: #545454;
  
    cursor: pointer;
   
    &:hover,
    &:focus {
      color: orange;
    }
  

    @media screen and (min-width: 768px) {
      right: 60px;
    }
  
  }
  
  .up-btn__icon {
    width: 40px;
    height: 40px;
  
    @media screen and (min-width: 768px) {
      width: 50px;
      height: 50px;
    }
  
    @media screen and (min-width: 1280px) {
      width: 60px;
      height: 60px;
    }
  }