//*======================================================================================================
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap);
//*======================================================================================================
body {
   font-family: "Roboto", sans-serif;
}
body.lock {
   overflow: hidden;
}
* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}
*,
*:before,
*:after {
   box-sizing: border-box;
}
button {
   cursor: pointer;
   color: inherit;
   background-color: transparent;
}
//*======================================================================================================
[class*="__container"] {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
//*======================================================================================================
.footer {
   padding-top: 30px;
   padding-bottom: 30px;
   background-color: #f7f7f7;
   // .footer__container
   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 767.98px) {
         flex-wrap: wrap;
      }
      gap: 10px;
   }
   // .footer__text
   &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin: 0;
      @media (max-width: 512.98px) {
         font-size: 14px;
      }

      color: #545454;
   }
   // .footer__icon
   &__icon {
      
      transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
      color: #ff6b08;
      animation: b 1s ease-in-out infinite;
      transition: animation 250ms;
      svg {
         fill: currentColor;
      }
   }
   .footer__icon-after{
      animation: a 1s infinite;
      transition: animation 250ms ;
   }

   @keyframes a {
      0% {
         scale: 1;
      }
      25% {
         scale: 1.1;
      }
      50% {
         scale: 1.2;
      }
      100% {
         scale: 1.5;
      }
   }

   @keyframes a {
      0% {
         scale: 1.5;
      }
      25% {
         scale: 1.2;
      }
      50% {
         scale: 1.1;
      }
      100% {
         scale: 1;
      }
   }
   

   // .footer__link
   &__link {
      transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
            color: #ff6b08;
         }
      }
   }
}
//!======================================================================================================
@import "./preloader";
//!======================================================================================================
@import "./article-footer";
//!======================================================================================================
@import "./popup-footer";
//!======================================================================================================

// .heart{

// }