.tui-pagination.is-hidden {
    display: none;
}

.tui-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;     
}

.tui-custon {
    font-size: 12px;
    line-height: 16px;
    border: none;
    text-decoration: none;
    width: 40px;
    display: flex;
    font-weight: 500;
    height: 40px;
    color: #000000;
    background-color: transparent;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms ease-in;

    &:hover,
    &:focus {
        background-color: #FF6B08;
        color:#FFFFFF;
    }
}
  
.tui-custon-is-selected {
    background-color: #FF6B08;
    color:#FFFFFF;
}

.tui-pagination .tui-first, .tui-pagination .tui-prev, .tui-pagination .tui-next, .tui-pagination .tui-last, .tui-pagination .tui-prev-is-ellip, .tui-pagination .tui-next-is-ellip {
    height: 40px !important;    
    background-color:  #F7F7F7;
}

.tui-pagination .tui-first,  .tui-pagination .tui-last, .tui-pagination .tui-prev-is-ellip, .tui-pagination .tui-next-is-ellip {
    @media screen and (max-width:767px) {
        display: none;
    }
}

.tui-pagination .tui-first, .tui-pagination .tui-prev, .tui-pagination .tui-next, .tui-pagination .tui-last, .tui-pagination .tui-prev-is-ellip, .tui-pagination .tui-next-is-ellip {
    height: 40px !important;    
    background-color:  #F7F7F7;
}

.tui-pagination .tui-first,  .tui-pagination .tui-last, .tui-pagination .tui-prev-is-ellip, .tui-pagination .tui-next-is-ellip {
    @media screen and (max-width:767px) {
        display: none;
    }
}
  