<!-- footer -->
<footer class="footer">
   <div class="footer__container">
      <p class="footer__text">
         © 2023 | All Rights Reserved | Developed with
      </p>
      <i class="footer__icon footer__icon-after">
         <svg width="14" height="12">
            <use href="./images/footer/sprite-footer.svg#icon-heart"></use>
         </svg>
      </i>
      <p class="footer__text">
         by
         <a href="#popup" class="footer__link popup-link">GoIT Students</a>
      </p>
   </div>
</footer>

<!-- popup-footer -->
<div id="popup" class="popup">
   <div class="popup__body">
      <div class="popup__content">
         <button type="button" class="popup__close close-popup">
            <span></span>
         </button>
         <div class="popup__items">
            <article class="popup__item article-popup">
               <div class="article-popup__inner">
                  <div class="article-popup__img">
                     <img src="./images/footer/daria.jpg" alt="Daria">
                  </div>
                  <h3 class="article-popup__titel">
                     Daria
                  </h3>
                  <p class="article-popup__text">
                     Team Lead
                  </p>
                  <ul class="article-popup__list list-article">
                     <li class="list-article__item">
                        <a href="https://www.instagram.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-instagram"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://github.com/Dranyk" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-github"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://uk-ua.facebook.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-facebook"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                  </ul>
                  <div class="article-popup__glare">
                  </div>
               </div>
            </article>
            <article class="popup__item article-popup">
               <div class="article-popup__inner">
                  <div class="article-popup__img">
                     <img src="./images/footer/vitaliy.jpg" alt="Vitaliy">
                  </div>
                  <h3 class="article-popup__titel">
                     Vitaliy
                  </h3>
                  <p class="article-popup__text">
                     Scrum Master
                  </p>
                  <ul class="article-popup__list list-article">
                     <li class="list-article__item">
                        <a href="https://www.instagram.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-instagram"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://github.com/VitalikApter" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-github"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://uk-ua.facebook.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-facebook"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                  </ul>
                  <div class="article-popup__glare">
                  </div>
               </div>
            </article>
            <article class="popup__item article-popup">
               <div class="article-popup__inner">
                  <div class="article-popup__img">
                     <img src="./images/footer/sergiy.jpg" alt="Sergiy">
                  </div>
                  <h3 class="article-popup__titel">
                     Sergiy
                  </h3>
                  <p class="article-popup__text">
                     Developer
                  </p>
                  <ul class="article-popup__list list-article">
                     <li class="list-article__item">
                        <a href="https://www.instagram.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-instagram"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://github.com/Serg-Babak" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-github"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://uk-ua.facebook.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-facebook"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                  </ul>
                  <div class="article-popup__glare">
                  </div>
               </div>
            </article>
            <article class="popup__item article-popup">
               <div class="article-popup__inner">
                  <div class="article-popup__img">
                     <img src="./images/footer/larysa.jpg" alt="Larysa">
                  </div>
                  <h3 class="article-popup__titel">
                     Larysa
                  </h3>
                  <p class="article-popup__text">
                     Developer
                  </p>
                  <ul class="article-popup__list list-article">
                     <li class="list-article__item">
                        <a href="https://www.instagram.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-instagram"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://github.com/LarysaHliieva" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-github"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://uk-ua.facebook.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-facebook"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                  </ul>
                  <div class="article-popup__glare">
                  </div>
               </div>
            </article>
            <article class="popup__item article-popup">
               <div class="article-popup__inner">
                  <div class="article-popup__img">
                     <img src="./images/footer/daniel.png" alt="Daniel">
                  </div>
                  <h3 class="article-popup__titel">
                     Daniel
                  </h3>
                  <p class="article-popup__text">
                     Developer
                  </p>
                  <ul class="article-popup__list list-article">
                     <li class="list-article__item">
                        <a href="https://www.instagram.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-instagram"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://github.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-github"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://uk-ua.facebook.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-facebook"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                  </ul>
                  <div class="article-popup__glare">
                  </div>
               </div>
            </article>
            <article class="popup__item article-popup">
               <div class="article-popup__inner">
                  <div class="article-popup__img">
                     <img src="./images/footer/dmitry.jpg" alt="Dmitry">
                  </div>
                  <h3 class="article-popup__titel">
                     Dmitry
                  </h3>
                  <p class="article-popup__text">
                     Developer
                  </p>
                  <ul class="article-popup__list list-article">
                     <li class="list-article__item">
                        <a href="https://www.instagram.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-instagram"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://github.com/LarysaHliieva" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-github"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://uk-ua.facebook.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-facebook"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                  </ul>
                  <div class="article-popup__glare">
                  </div>
               </div>
            </article>
            <article class="popup__item article-popup">
               <div class="article-popup__inner">
                  <div class="article-popup__img">
                     <img src="./images/footer/oksana.jpg" alt="Oksana">
                  </div>
                  <h3 class="article-popup__titel">
                     Oksana
                  </h3>
                  <p class="article-popup__text">
                     Developer
                  </p>
                  <ul class="article-popup__list list-article">
                     <li class="list-article__item">
                        <a href="https://www.instagram.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-instagram"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://github.com/coksanna" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-github"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://uk-ua.facebook.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-facebook"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                  </ul>
                  <div class="article-popup__glare">
                  </div>
               </div>
            </article>
            <article class="popup__item article-popup">
               <div class="article-popup__inner">
                  <div class="article-popup__img">
                     <img src="./images/footer/marat.jpg" alt="Marat">
                  </div>
                  <h3 class="article-popup__titel">
                     Marat
                  </h3>
                  <p class="article-popup__text">
                     Developer
                  </p>
                  <ul class="article-popup__list list-article">
                     <li class="list-article__item">
                        <a href="https://www.instagram.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-instagram"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://github.com/Mar4ella89" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-github"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://uk-ua.facebook.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-facebook"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                  </ul>
                  <div class="article-popup__glare">
                  </div>
               </div>
            </article>
            <article class="popup__item article-popup">
               <div class="article-popup__inner">
                  <div class="article-popup__img">
                     <img src="./images/footer/yuriy.jpg" alt="Yuriy">
                  </div>
                  <h3 class="article-popup__titel">
                     Yuriy
                  </h3>
                  <p class="article-popup__text">
                     Developer
                  </p>
                  <ul class="article-popup__list list-article">
                     <li class="list-article__item">
                        <a href="https://www.instagram.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-instagram"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://github.com/VIGOVSKYI" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-github"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://uk-ua.facebook.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-facebook"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                  </ul>
                  <div class="article-popup__glare">
                  </div>
               </div>
            </article>
            <article class="popup__item article-popup">
               <div class="article-popup__inner">
                  <div class="article-popup__img">
                     <img src="./images/footer/danulo.jpg" alt="Danulo">
                  </div>
                  <h3 class="article-popup__titel">
                     Danulo
                  </h3>
                  <p class="article-popup__text">
                     Developer
                  </p>
                  <ul class="article-popup__list list-article">
                     <li class="list-article__item">
                        <a href="https://www.instagram.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-instagram"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://github.com/Danulo-Panasenko" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-github"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                     <li class="list-article__item">
                        <a href="https://uk-ua.facebook.com/" class="list-article__link" target="_blank"
                           rel="noopener noreferrer">
                           <i class="list-article__icon">
                              <svg width="20" height="20">
                                 <use href="./images/footer/sprite-footer.svg#icon-facebook"></use>
                              </svg>
                           </i>
                        </a>
                     </li>
                  </ul>
                  <div class="article-popup__glare">
                  </div>
               </div>
            </article>
         </div>
      </div>
   </div>
</div>