    <header class="header__library">
        <ul class="lightrope">
            <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
          </ul>
        <div class="container">
            <nav class="site-nav">
            <a href="/src/index.html" class="site-nav__logo">
                <svg class="svg-film" width="24" height="24">
                    <use href="/src/images/sprite.svg#film"></use>
                </svg>
            <span class="logo-text">Filmoteka</span>
            </a>
            <ul class="menu">
                <li class="menu__item">
                    <a href="/src/index.html" class="menu__link" aria-label="index">Home</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link menu-link--current" aria-label="library">my library</a>
                </li>
            </ul>
            </nav>
            <ul class="menu__list-btn">
                <li class="menu__item-btn">
                    <button data-current="true" id="showWatchedBtn" class="menu__btn">Watched</button>
                </li>
                <li class="menu__item-btn">
                    <button data-current="false" id="showQueueBtn" class="menu__btn">queue</button>
                </li>
            </ul>
        </div>
    </header>
