<div class="backdrop is-hidden" data-modal-about>
  <div class="modal">
    <button type="button" class="modal-close-button" data-modal-about-close>
      <svg>
        <use href="./images/sprite.svg#close_icon"></use>
      </svg>
    </button>

    <div class="modal-movie js-modal-window"></div>
  </div>
</div>
<div class="backdrop-trailer is-hidden" data-modal-trailer>
  <button
    type="button"
    class="modal-close-button-trailer"
    data-modal-trailer-close
  >
    <svg>
      <use href="./images/sprite.svg#close_icon"></use>
    </svg>
  </button>
  <div class="modal-trailer js-modal-window-trailer"></div>
</div>

<!-- <img src="../" alt=""> -->
